body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#content {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr {
    border: 1px solid #ccc;
}

#header {
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #333;
}

h4.endereco {
    font-size: 16px;
    color: #555;
}

#resumo {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.listItems {
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    color: #333;
}

h4 {
    font-size: 20px;
    color: #555;
}

p {
    font-size: 16px;
    color: #777;
}

#cursos, #idiomas {
    margin-top: 20px;
}

#footer {
    text-align: center;
    margin-top: 20px;
}

.images:hover {
    transform: scale(1.1);
}

.hardskills:hover {
    transform: scale(0.9);
}

h3 {
    font-size: 24px;
    color: #333;
}

a {
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}